.container {
  display: inline-block;
  width:97%;
  background-color: #fff;
  border:1px solid #f2f2f2;
  margin-bottom: 1em;
  color: #000;
  text-decoration: none;
  cursor:pointer;   /*小手标志*/
}

.scaleStyle {

}

.scaleStyle:hover {
  transform: scale(1.05);
  /* transition: transform .5s ease-in-out 0s; */
}


/* 导航栏上的颜色 */
.color {
  color:#fff;
}

.subTitleColor {
  color:#BF9E6B;
}

.numberColor {
  color:#F7A701;
}

.hoverStyle:hover {
  background-color: rgba(255,255,255,.2)
}

.hoverStyle a{
  color:#fff;
  text-decoration: none;
}

.hoverStyle a:hover {
  color:#f7b200;
}

/* 面包屑上的颜色 */
.breadColor {
  color: #666;
}

/* 三角形 */
.trigon {

}

.trigon::before {
  display: block;
  content: '';
  width: 13px;
  height: 13px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: -6px;
  margin-left: 1em;
}

.modaltrigon::before {
  display: block;
  content: '';
  width: 18px;
  height: 18px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  left: 50%;
}

/* 动画 */

@keyframes myAnimation
{
    0%   {width:0;height: 0}
    100% {width:400px;height: 400px}
}

.anmationStyle {
  animation-name: myAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
